<div>
<button class="booking-edit back-btn btn btn-primary glyphicon glyphicon-arrow-left"></button>
</div>
<%= form_for @assessment do |f| %>
  <div class="booking-edit">

    <%= f.label :code %>
    <%= f.text_field :code, :required =>true %>

    <br>

    <% if current_user.is_admin_or_owner? %>
    <%= button_to "Save" ,name: 'save',:onclick=>'return get_action("save");'%>
    <%= button_to "Delete", @assessment, :method => :delete ,:onclick=>'return get_action("delete");'%>
     
    <%end%>
  </div>
<% end %>


<script type="text/javascript">

 function get_action(str)
{
   if(str == 'save'){
        if(!confirm("Are you sure you want to update assessment code ?"))  event.preventDefault();
    }
    else{
      if(!confirm("Are you sure you want to delete assessment code ?"))  event.preventDefault();

    }
} 
$(".back-btn").click(function(){
        history.back()
    });
</script>