 
<table id="bookings" class="table compact hover table-striped table-bordered" cellspacing="0" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Submitted on</th>
            <th>Required On</th>
             <th>Time IN-OUT</th>
            <th>Generator</th>

            <th>Zone</th>
            <th>State</th>
            <th>City</th>
            
            <th>LISP Code</th>
            <th>LISP Name</th>
            <th>SPOC</th>
            <th>SPOC Remarks</th>
            <th>Rep</th>
            <% if params[:booking_status] != "pending" %>
            <th>Vendor</th>
             <%end%>
            <th>Operator</th>
           
            <th>Status</th>
            <% if params[:booking_status] == "completed" || params[:booking_status] == "cancelled" %>
            <th>Invoice</th>
            <th>Running hours</th>
            <%end%>
            <% if params[:booking_status] == "completed" || params[:booking_status] == "cancelled" %>
            <th>SPOC Verified</th>
            <th>Admin Verified</th>
            <%end%>
            <% if current_user.is_approver? or current_user.is_spoc? %>
            <th>Actions</th>
            <% end %>
        </tr>
    </thead>
        <% @bookings.each do |booking| %>
            <% lisp = Lisp.find_by_code(booking.lisp) %>
          <tr onclick="window.location='/bookings/' + '<%=booking.name%>' ">
            <td><%= booking.name %></td>
            <td><%if booking.created_at.present?%><%= booking.created_at.to_formatted_s(:long) %><%end%></td>
            <td><%if booking.start_date.present?%><%= booking.start_date.to_formatted_s(:long) %><%end%></td>
            <td><%= booking.time_in %>-<%= booking.time_out %></td>
            <td><%= booking.gen_type %>-<%= booking.kva %> KVA</td>
            <td><%= lisp.zone %></td>
            <td><%= lisp.state %></td>
            <td><%= lisp.city %></td>
            <td><%= booking.lisp %></td>
            <td><%= lisp.name %></td>
             <%if booking.user and booking.user.name? %>
            <td><%= booking.user.name %></td>
            <%else%>
            <td>Name not present </td>
            <%end%>
            <td>
              <span data-toggle="tooltip" data-placement="top" title= '<%= booking.spoc_remarks %>' ><%= booking.short_spoc_remarks %> </span>
            </td>
            <td>
            <% if booking.rep.present? %>
                <%= booking.rep.name %><br> (<%= booking.rep.phone_number %>)
            <% end %>
            </td>
            <% if params[:booking_status] != "pending" %>
                <td>
                <% if booking.vendor.present? %>
                    <%= booking.vendor.name %>
                <% end %>
                </td>
                 <%end%>
                <td>
                <% if booking.operator.present? %>
                    <%= booking.operator.name %> <br>
                    <%= booking.operator.phone_number %>
                    <%else%>
                    Operator not present
                <% end %>
                </td>
           
            <td><%= booking.ui_status %></td>
                <% if params[:booking_status] == "completed" || params[:booking_status] == "cancelled" %>
                <td>
                    <% if (booking.cost? and booking.cost > 0)  %>
                    <button class="btn btn-primary btn-sm invoice_details" data-name=<%=booking.name%> >
                    Invoice
                    </button>
                        <% if current_user.is_admin_or_owner? %>
                        Cost = <%= booking.cost %>
                        <%end%>
                    <% else %>
                        Cost = <%= booking.cost ? booking.cost : 0.0  %>
                    <% end %>
                </td>
                <td>
                <%= booking.actual_hours ? booking.actual_hours : 0 %>
                </td>
            <%end%>
            <% if params[:booking_status] == "completed" || params[:booking_status] == "cancelled" %>
            <td> 
                <% if booking.invoice_status.present? %>
                    <%=booking.invoice_status%> 
                <% elsif current_user.is_admin? %>
                    <button class="btn btn-default btn-sm admin_accept_btn" data-id=<%=booking.id%>  >Accept</button>
                    <button class="btn btn-danger btn-sm admin_reject_btn" data-id=<%=booking.id%>>Reject</button>
                <% end %>
            </td>
            <%end%>

            <% if current_user.is_approver? and booking.status == "pending" %>
                <td>
                    <button class="btn btn-default btn-sm approve_btn" data-id=<%=booking.id%> >Approve</button>
                    <button class="btn btn-danger btn-sm cancel_btn" data-id=<%=booking.id%> >Cancel</button>
                </td>
            <% elsif current_user.is_spoc? and booking.is_cancelable? %>
                <td><button class="cancel_btn" data-id=<%=booking.id%> >Cancel</button></td>
            <%elsif current_user.is_approver? or current_user.is_spoc? or  current_user.is_admin? %>
                <td>N/A</td>
            <% end %>
          </tr>
        <% end %>

    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    $(".booking_id").on('click', function(event) {
        id = $(this).text()
        location = '/bookings/' + id.trim();
    })

    $(".cancel_btn").on('click', function(event){
        if (confirm("Are you sure you want to cancel. You will be chaged for it after a certain time range?")) {
          id = $(this).data('id')
          cancel_url = "/bookings/" + id + "/cancel"
          $.ajax({
            url: cancel_url
          }).done( function(){
            $("#success_message").text('Booking cancelled, Refreshing the page!').show()
            setTimeout("location.reload()",1000)
          }).fail(function() {
            alert("There was an error cancelling the booking")
          })
        }
        event.stopPropagation();
    });

    $(".approve_btn").on('click', function(event){
        if (confirm("Are you sure you want to approve?")) {
          id = $(this).data('id')
          $.ajax({
            url: "/bookings/" + id + "/approve"
          }).done( function(){
            $("#success_message").text('Booking approved successfully, Refreshing the page!').show()
            setTimeout("location.reload()",1000)
          }).fail(function() {
            alert("There was an error approving the booking")
          })
        }
        event.stopPropagation();
    });

    $(".spoc_accept_btn").on("click", function(event){
        if (confirm("Are you sure you want to accept?")) {
            $.ajax({
              url: '/bookings/' + $(this).data('id') + "/invoice",
              data: {
                hours_status: "Accepted"
              }
            }).done(function(){
                $("#success_message").text('Accepted booking, Refreshing the page!').show()
                setTimeout("location.reload()",1000)
            }).fail(function(){
                alert("There was an error verifying the booking")
            });
        }
        event.stopPropagation();
    })


    $(".spoc_reject_btn").on("click", function(event){
        if (confirm("Are you sure you want to reject?")) {
            $.ajax({
              url: '/bookings/' + $(this).data('id') + "/invoice",
              data: {
                hours_status: "Rejected"
              }
            }).done(function(){
                $("#success_message").text('Rejected booking, Refreshing the page!').show()
                setTimeout("location.reload()",1000)
            }).fail(function(){
                alert("There was an error verifying the booking")
            });   
        }
        event.stopPropagation();
    })

    $(".admin_accept_btn").on("click", function(event){
        if (confirm("Are you sure you want to accept?")) {
            $.ajax({
              url: '/bookings/' + $(this).data('id') + "/invoice",
              data: {
                invoice_status: "Accepted"
              }
            }).done(function(){
                $("#success_message").text('Accepted booking, Refreshing the page!').show()
                setTimeout("location.reload()",1000)
            }).fail(function(){
                alert("There was an error verifying the booking")
            });
        }
        event.stopPropagation();
    })

    

    $(".admin_reject_btn").on("click", function(event){
        if (confirm("Are you sure you want to reject?")) {
            $.ajax({
              url: '/bookings/' + $(this).data('id') + "/invoice",
              data: {
                invoice_status: "Rejected"
              }
            }).done(function(){
                $("#success_message").text('Rejected booking, Refreshing the page!').show()
                setTimeout("location.reload()",1000)
            }).fail(function(){
                alert("There was an error verifying the booking")
            });   
        }
        event.stopPropagation();
    })
     
    $(".invoice_details").click(function(event){
        window.location= '/bookings/' + $(this).data('name') + '/details_invoice'
        event.stopPropagation()
    })

    var table = $("#bookings").DataTable();
    $('#container').css( 'display', 'block' );
    table.columns.adjust().draw();
    $('[data-toggle="tooltip"]').tooltip();   
</script>