<table id="bookings" class="table hover table-bordered hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office Location</th>
            <th>Required On</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Generator Type</th>
            <th>KVA</th>
            <th>LISP</th>
            <th>Status</th>
            <th>Client</th>
            <th>Rep</th>
            <% if params[:booking_status] != "pending" %>
            <th>Vendor Id</th>
            <th>Duty Slip</th>
            <%end%>
            <% if current_user.is_approver? or current_user.is_spoc? %>
            <th>Actions</th>
            <% end %>
        </tr>
    </thead>
        <% @bookings.each do |booking| %>
          <tr>
            <td><a onclick="window.location='/bookings/' + <%=booking.id%>"><%= booking.name %></a></td>
            <td><%= booking.location %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.time_in %></td>
            <td><%= booking.time_out %></td>
            <td><%= booking.gen_type %></td>
            <td><%= booking.kva %></td>
            <td><a class="lisp_id"><%= booking.lisp %></a></td>
            <td><%= booking.status %></td>
            <td><%= booking.client.name %></td>
            <td>
            <% if booking.rep.present? %>
                <a class="rep_id" onclick="window.location = '/users/' + <%= booking.rep.id %> " ><%= booking.rep.employee_id %></a>
            <% end %>
            </td>
            <% if params[:booking_status] != "pending" %>
                <td>
                <% if booking.vendor.present? %>
                    <%= booking.vendor.name %>
                <% end %>
                </td>
                <td>
                <% if booking.slip.present? %>
                    <%= link_to "Download", booking.slip_url %>
                <% else %>
                    No Duty Slip
                <% end %>
                </td>
            <%end%>

            <% if current_user.is_approver? and booking.status == "pending" %>
                <td>
                    <button class="btn btn-success approve_btn" data-id=<%=booking.id%> >Approve</button>
                    <button class="btn btn-default cancel_btn" data-id=<%=booking.id%> >Cancel</button>
                </td>
            <% elsif current_user.is_spoc? and booking.is_cancelable? %>
            <td><button class="cancel_btn" data-id=<%=booking.id%> >Cancel</button></td>
            <%elsif current_user.is_approver? or current_user.is_spoc? %>
            <td>N/A</td>
            <% end %>
          </tr>
        <% end %>

    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    $(".booking_id").on('click', function(event) {
        id = $(this).text()
        location = '/bookings/' + id.trim();
    })

    $(".lisp_id").on('click', function(event) {
        id = $(this).text()
        location = '/lisps/unknown?code=' + id.trim();
    })

    $(".cancel_btn").on('click', function(){
      id = $(this).data('id')
      cancel_url = "/bookings/" + id + "/cancel"
      $.ajax({
        url: cancel_url
      }).done( function(){
        location.reload()
      });
    });

    $(".approve_btn").on('click', function(){
      id = $(this).data('id')
      $.ajax({
        url: "/bookings/" + id + "/approve"
      }).done( function(){
        location.reload()
      })
    });

    $("#bookings").DataTable({
        scrollX: "100%"
    });
</script>