<%= render "assign_vendor" %>
<div class="container main-content">
	<ul class="nav nav-tabs" id="navTabs">
		<li role="presentation" id="owner_pending"><a onclick="window.location = '/' ">Pending Acceptance</a></li>
	    <li role="presentation" id="owner_accepted"><a onclick="window.location = '?status=accepted' ">Active</a></li>
	    <li role="presentation" id="owner_previous"><a onclick="window.location = '?status=previous' " >Previous</a></li>
	</ul>

    <div class="row">
        <div class="col-md-12">
			<table id="dashboard_bookings" class="table hover table-bordered hover" cellspacing="0">
			    <thead>
			        <tr>
			            <th>Name</th>
                  <th>Submitted On</th>
			            <th>Required On</th>
			            <th>Generator Type</th>
			            <th>KVA</th>
			            <th>LISP</th>
                  <th>State</th>
                  <th>City</th>
                  <th>Zone</th>
                  <th>SPOC</th>
                  <th>Rep</th>
                  <th>Status</th>
			            <th>Client</th>
			            <th>Vendor</th>
			            <% if @show_cost.present? %>
			            	<th>Cost</th>
			            <%end%>
			            <% if params[:status].nil? %>
			            <th>Actions</th>
			            <%end%>
                  <th>SPOC Verified</th>
			        </tr>
			    </thead>
			        <% @bookings.each do |booking| %>
                <% lisp = Lisp.find_by_code(booking.lisp) %>
			          <tr data-id=<%=booking.id%> >
			            <td><a onclick="window.location='/bookings/' + <%=booking.id%>"><%= booking.name %></a></td>
                  <td><%= booking.created_at.to_formatted_s(:long) %></td>
			            <td><%= booking.start_date %>
			            <br><%= booking.time_in %> - <%= booking.time_out %></td>
			            <td><%= booking.gen_type %></td>
			            <td><%= booking.kva %></td>
                  <td><a class="lisp_id"> <%= booking.lisp %> </a></td>
                  <td><%= lisp.state %></td>
                  <td><%= lisp.city %></td>
                  <td><%= lisp.zone %></td>
                  <td><a onclick="window.location = '/users/' + <%=booking.user.id%>"><%= booking.user.name %></a></td>
                  <td>
                  <% if booking.rep.present? %>
                      <a class="rep_id" onclick="window.location = '/users/' + <%= booking.rep.id %> " ><%= booking.rep.name %><br> (<%= booking.rep.phone_number %>) </a>
                  <% end %>
                  </td>
                  <td><%=booking.ui_status%></td>
			            <td><%= booking.client.name %></td>
                  <td>
			            <% if booking.vendor.present? %>
			            	<%= booking.vendor.name %>
			            <%end %>
                  </td>
			            <% if @show_cost.present? %>
			            	<td><%= booking.cost %></td>
			            <%end%>
			            <% if params[:status].nil? %>
			            	<td class="admin_actions">
			            		<button class="btn btn-default btn-sm accept_btn" data-toggle="modal" data-target="#assignVendor">
			            			Accept
			            		</button>
			            		<button class="btn btn-danger btn-sm reject_btn">
			            			Reject
			            		</button>
			            	</td>
			            <%end%>
                  <td><%=booking.hours_status%></td>
			          </tr>
			        <% end %>

			    <tbody>
			    </tbody>
			</table>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
	if (qs['status'] != null) {
		console.log(qs['status'])
		$("#owner_" + qs['status']).addClass('active')
	} else {
		$("#owner_pending").addClass('active')
	}

    $(".lisp_id").on('click', function(event) {
        id = $(this).text()
        location = '/lisps/unknown?code=' + id.trim();
    })

    $(".reject_btn").on('click', function(event) {
    	id = $(this).parent().parent().data('id')
    	if (id) {
    		$.ajax({
    			url: "/bookings/" + id + "/reject"
    		}).done(function(){
    			$("#success_message").text('Booking rejected, Refreshing the page!').show()
          setTimeout("location.reload()",1000)
    		}).fail(function(){
    			alert("There was an error rejecting the booking")
    		})
    	}
    })

    $(".accept_btn").on('click', function(){
    	id = $(this).parent().parent().data('id')
    	if (id) {
    		window.current_booking_id = id
    	}
    })

    $("#accept_booking").on('click', function(){
    	$.ajax({
    		url: "/bookings/" + window.current_booking_id + "/accept",
    		data: {
    			vendor_id: $("#vendors").val(),
    			operator_id: $("#operators").val(),
          owner_remarks: $("#owner_remarks").val()
    		}
    	}).done(function(){
        $('.close').click()
    		$("#success_message").text('Booking accepted, Refreshing the page!').show()
        setTimeout("location.reload()",1000)
    	}).fail(function(){
    		alert("There was an error in accepting the booking")
    	})
    })

    $('#vendors').change(function () {
      var input_vendor = $('#operators');
      $.getJSON('/operators/' + $(this).val(), function (data) {
        input_vendor.empty();
        $.each(data, function (i) {
          var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
          input_vendor.append(opt);
        });
      });
    });

    $("#dashboard_bookings").DataTable();
</script>