
<div class="container main-content pending">
    <div class="row">
        <div class="col-md-12">
			<table id="dashboard_bookings" class="table hover table-bordered hover" cellspacing="0" width="100%">
			    <thead>
			        <tr>
			            <th>Id</th>
			            <th>Name</th>
			            <th>Office Location</th>
			            <th>From Date</th>
			            <th>Time In</th>
			            <th>Till Date</th>
			            <th>Time Out</th>
			            <th>Generator Type</th>
			            <th>Status</th>
			            <th>Client Id</th>
			            <th>Vendor Id</th>
			            <th>Duty Slip</th>
			        </tr>
			    </thead>
			        <% @bookings.each do |booking| %>
			          <tr>
			            <td><%= booking.id %></td>
			            <td><%= booking.name %></td>
			            <td><%= booking.location %></td>
			            <td><%= booking.start_date %></td>
			            <td><%= booking.time_in %></td>
			            <td><%= booking.end_date %></td>
			            <td><%= booking.time_out %></td>
			            <td><%= booking.gen_type %></td>
			            <td><%= booking.status %></td>
			            <td><%= booking.client.name %></td>
			            <% if booking.vendor.present? %>
			            	<td><%= booking.vendor.name %> </td>
			            <% else %>
			            	<td> NULL </td>
			            <%end %>
			            <td>
				            <% if booking.slip.present? %>
				        	    <%= link_to "Download Duty Slip", booking.attachment_url %>
				        	<% else %>
				        		No Duty Slip
			            	<%end %>
			            </td>
			          </tr>
			        <% end %>

			    <tbody>
			    </tbody>
			</table>
        </div>
    </div>
    </div>
</div>