<%= render "assign_vendor" %>
<div class="container main-content">
	<ul class="nav nav-tabs" id="navTabs">
		<li role="presentation" id="owner_pending"><a onclick="window.location = '/' ">Pending Acceptance</a></li>
	    <li role="presentation" id="owner_accepted"><a onclick="window.location = '?status=accepted' ">Active</a></li>
	    <li role="presentation" id="owner_previous"><a onclick="window.location = '?status=previous' " >Previous</a></li>
	</ul>

    <div class="row">
        <div class="col-md-12">
			<table id="dashboard_bookings" class="table hover table-bordered hover" cellspacing="0" width="100%">
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Office Location</th>
			            <th>Required On</th>
			            <th>Time In</th>
			            <th>Time Out</th>
			            <th>Generator Type</th>
			            <th>Status</th>
			            <th>KVA</th>
			            <th>LISP</th>
			            <th>Client Id</th>
			            <th>Vendor Id</th>
			            <th>Rep</th>
			            <% if @show_cost.present? %>
			            	<th>Cost</th>
			            <%end%>
			            <th>Invoice</th>
			            <th>Submitted On</th>
			            <% if params[:status].nil? %>
			            <th>Actions</th>
			            <%end%>
			        </tr>
			    </thead>
			        <% @bookings.each do |booking| %>
			          <tr data-id=<%=booking.id%> >
			            <td><a onclick="window.location='/bookings/' + <%=booking.id%>"><%= booking.name %></a></td>
			            <td><%= booking.location %></td>
			            <td><%= booking.start_date %></td>
			            <td><%= booking.time_in %></td>
			            <td><%= booking.time_out %></td>
			            <td><%= booking.gen_type %></td>
			            <td><%= booking.status %></td>
			            <td><%= booking.kva %></td>
			            <td><a class="lisp_id"> <%= booking.lisp %> </a></td>
			            <td><%= booking.client.name %></td>
			            <% if booking.vendor.present? %>
			            	<td><%= booking.vendor.name %> </td>
			            <% else %>
			            	<td> NULL </td>
			            <%end %>
			            <% if booking.rep.present? %>
			            	<td><a onclick="window.location = '/users/' + <%= booking.rep.id %>"><%= booking.rep.name %> </a></td>
			            <% else %>
			            	<td> NULL </td>
			            <%end %>

			            <% if @show_cost.present? %>
			            	<td><%= booking.cost %></td>
			            <%end%>

			            <td>
				            <% if booking.actual_hours.present? %>
				        	    <%= link_to "Download Invoice", booking.invoice_url %>
				        	<% else %>
				        		No Invoice
			            	<%end %>
			            </td>
			            <td><%= booking.created_at %></td>
			            <% if params[:status].nil? %>
			            	<td class="admin_actions">
			            		<button class="btn btn-default btn-sm accept_btn" data-toggle="modal" data-target="#assignVendor">
			            			Accept
			            		</button>
			            		<button class="btn btn-danger btn-sm reject_btn">
			            			Reject
			            		</button>
			            	</td>
			            <%end%>
			          </tr>
			        <% end %>

			    <tbody>
			    </tbody>
			</table>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
	if (qs['status'] != null) {
		console.log(qs['status'])
		$("#owner_" + qs['status']).addClass('active')
	} else {
		$("#owner_pending").addClass('active')
	}

    $(".lisp_id").on('click', function(event) {
        id = $(this).text()
        location = '/lisps/unknown?code=' + id.trim();
    })

    $(".reject_btn").on('click', function(event) {
    	id = $(this).parent().parent().data('id')
    	if (id) {
    		$.ajax({
    			url: "/bookings/" + id + "/reject"
    		}).done(function(){
    			location.reload()
    		}).fail(function(){
    			alert("There was an error rejecting the booking")
    		})
    	}
    })

    $(".accept_btn").on('click', function(){
    	id = $(this).parent().parent().data('id')
    	if (id) {
    		window.current_booking_id = id
    	}
    })

    $("#accept_booking").on('click', function(){
    	$.ajax({
    		url: "/bookings/" + window.current_booking_id + "/accept",
    		data: {
    			vendor_id: $("#vendors").val(),
    			operator_id: $("#operators").val()
    		}
    	}).done(function(){
    		window.location.reload()
    	}).fail(function(){
    		alert("There was an error in accepting the booking")
    	})
    })

    $('#vendors').change(function () {
      var input_vendor = $('#operators');
      $.getJSON('/operators/' + $(this).val(), function (data) {
        input_vendor.empty();
        $.each(data, function (i) {
          var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
          input_vendor.append(opt);
        });
      });
    });

    $("#dashboard_bookings").DataTable( {
	    scrollX: "100%"
	});
</script>