
<%= render "assign_vendor" %>
<div class="container main-content">
	<ul class="nav nav-tabs" id="navTabs">
		<li role="presentation" id="owner_pending"><a onclick="window.location = '/' ">Pending Acceptance</a></li>
	    <li role="presentation" id="owner_accepted"><a onclick="window.location = '?status=accepted' ">Active</a></li>
	    <li role="presentation" id="owner_previous"><a onclick="window.location = '?status=previous' " >Previous</a></li>
       <li role="presentation" id="owner_pending_approval"><a onclick="window.location = '?status=pending_approval' " >Pending Approval</a></li>
	</ul>

    <div class="row">
        <div class="col-md-12">
			<table id="dashboard_bookings" class="table  compact hover table-bordered hover" cellspacing="0">
			    <thead>
			        <tr>
			            <th>ID</th>
                  <th>Submitted On</th>
			            <th>Required On</th>
			            <th>Generator</th>
                  <th>Zone</th>
                  <th>State</th>
                  <th>City</th>
                  <th>LISP Code</th>
                  <th>LISP Name</th>
                  <th>SPOC</th>
                  <th>SPOC Remarks </th>
                  <th>Rep</th>
                  <% if !params[:status].nil? and params[:status] != "pending_approval" %>
			            <th>Vendor</th>
                  <th>Operator</th>
                  <%end%>
                  <th>Status</th>
			            <% if @show_cost.present? %>
			            	<th>Invoice</th>
                    <th>Running Hours</th>
			            <%end%>
			            <% if params[:status].nil? %>
			            <th>Actions</th>
			            <%end%>
                  <% if params[:status] == "previous" %>
                  <th>SPOC Verified</th>
                  <th>Admin Verified</th>
                  <%end%>
			        </tr>
			    </thead>
			        <% @bookings.each do |booking| %>
                <% lisp = Lisp.find_by_code(booking.lisp) %>
			          <tr data-id=<%=booking.id%> onclick="window.location='/bookings/' + '<%=booking.name%>' " >
			            <td><%= booking.name %></td>
                  <td><%if booking.created_at.present? %><%= booking.created_at.to_formatted_s(:long) %><%end %></td> 
			            <td><%if booking.start_date.present? %><%= booking.start_date.to_formatted_s(:long) %><%end %>
			            <br><%= booking.time_in %>-<%= booking.time_out %></td>
			            <td><%= booking.gen_type %>-<%= booking.kva %> KVA</td>
                  <td><%= lisp.zone %></td>
                  <td><%= lisp.state %></td>
                  <td><%= lisp.city %></td>
                  <td><%= booking.lisp %></td>
                  <td><%= lisp.name %></td>
                  <td><%= booking.user.name%></td>
                  <td>
                  <span data-toggle="tooltip" data-placement="top" title= '<%= booking.spoc_remarks %>' ><%= booking.short_spoc_remarks %> </span>
                  </td>
                  <td>
                  <% if booking.rep.present? %>
                      <%= booking.rep.name %><br> (<%= booking.rep.phone_number %>)
                  <% end %>
                  </td>
                  <% if !params[:status].nil? and params[:status] != "pending_approval" %>
                    <td>
  			            <% if booking.vendor.present? %>
  			            	<%= booking.vendor.name %>
  			            <%end %>
                    </td>
                    <td>
                    <% if booking.operator.present? %>
                      <%= booking.operator.name %> <br>
                      <%= booking.operator.phone_number %>
                    <%end %>
                    </td>
                  <%end%>
                  <td><%=booking.ui_status%></td>
			            <% if @show_cost.present? %>
			            	<td>
                    <button class="btn btn-primary btn-sm invoice_details" data-name=<%=booking.name%> >
                    Invoice
                    </button>
                    <% if current_user.is_admin_or_owner? %>
                    Cost = <%= booking.cost ? booking.cost : 0.0  %>
                    <%end%>
                    </td>
                    <td>                 
                    <%= booking.actual_hours ? booking.actual_hours : 0 %>
                    </td>
			            <%end%>
			            <% if params[:status].nil? %>                      
                     <td class="admin_actions">    
                       <button class="btn btn-default btn-sm accept_btn" data-toggle="modal" data-target="#assignVendor">    
                         Accept    
                       </button>   
                       <button class="btn btn-danger btn-sm reject_btn">   
                         Reject    
                       </button>   
                     </td>   
                   <%end%>
                  <% if params[:status] == "previous" %>
                    <td><%=booking.hours_status%></td>
                    <td><%=booking.invoice_status%></td>
                  <%end%>
			          </tr>
			        <% end %>

			    <tbody>
			    </tbody>
			</table>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
	if (qs['status'] != null) {
		console.log(qs['status'])
		$("#owner_" + qs['status']).addClass('active')
	} else {
		$("#owner_pending").addClass('active')
	}

    $(".reject_btn").on('click', function(event) {
      if (confirm("Are you sure you want to reject?")) {
      	id = $(this).parent().parent().data('id')
      	if (id) {
      		$.ajax({
      			url: "/bookings/" + id + "/reject"
      		}).done(function(){
      			$("#success_message").text('Booking rejected, Refreshing the page!').show()
            setTimeout("location.reload()",1000)
      		}).fail(function(){
      			alert("There was an error rejecting the booking")
      		})
      	}
      }
      event.stopPropagation();
    })

    $(".accept_btn").on('click', function(event){
    	id = $(this).parent().parent().data('id')
    	if (id) {
    		window.current_booking_id = id
    	}
      $("#assignVendor").modal('show')
      event.stopPropagation();
    })

    $("#accept_booking").on('click', function(event){
    	$.ajax({
    		url: "/bookings/" + window.current_booking_id + "/accept",
    		data: {
    			vendor_id: $("#vendors").val(),
    			operator_id: $("#operators").val(),
          owner_remarks: $("#owner_remarks").val()
    		}
    	}).done(function(){
        $('.close').click()
    		$("#success_message").text('Booking accepted, Refreshing the page!').show()
        setTimeout("location.reload()",1000)
    	}).fail(function(){
    		alert("There was an error in accepting the booking")
    	})
      event.stopPropagation();
    })

    $('#vendors').change(function () {
      var input_vendor = $('#operators');
      $.getJSON('/operators/' + $(this).val(), function (data) {
        input_vendor.empty();
        $.each(data, function (i) {
          var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
          input_vendor.append(opt);
        });
      });
    });

    $(".invoice_details").click(function(event){
        window.location= '/bookings/' + $(this).data('name') + '/details_invoice'
        event.stopPropagation()
    })

    $("#dashboard_bookings").DataTable({
        initComplete: function(settings) {
            
        } 
      });
    $('[data-toggle="tooltip"]').tooltip();   

</script>