<%= form_for @booking do |f| %>
  <div class="booking-edit">
    <div class="info">
      <div class="personal-info">
        <%= f.label :first_name %>
        <%= f.text_field :name %>
        <br>

        <%= f.label :location %>
        <%= f.text_field :location %>
        <br>
        <%= f.label :from_date %>
        <%= f.date_field :start_date %>
        <br>
        <%= f.label :till_date %>
        <%= f.date_field :end_date %>
        <br>
        <%= f.label :time_in %>
        <%= f.date_field :time_in %>
        <br>
        <%= f.label :time_out %>
        <%= f.date_field :time_out %>
        <br>

        <%= f.label :status %>
        <%= f.select(:status, ['approver_approved', 'approved', 'rejected']) %>
        <br>
        <%= f.label :vendor %>
        <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
        <br>

      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

  </div>
<% end %>
