<%= render "invoice" %>

<%= form_for @booking do |f| %>

    <div class="booking-edit">
        <div class="panel panel-default">
            <div class="panel-heading"> Booking Details </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                <tbody>
                    <% @booking.booking_data.each do |key, value| %>
                    <tr>
                        <th>
                            <%=key%>
                        </th>
                        <td>
                            <%=value%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"> Spoc Details </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                <tbody>
                    <% @booking.spoc_data.each do |key, value| %>
                    <tr>
                        <th>
                            <%=key%>
                        </th>
                        <td>
                            <%=value%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"> Rep Details </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                <tbody>
                    <% @booking.rep_data.each do |key, value| %>
                    <tr>
                        <th>
                            <%=key%>
                        </th>
                        <td>
                            <%=value%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"> Vendor Details </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                <tbody>
                    <% @booking.vendor_data.each do |key, value| %>
                    <tr>
                        <th>
                            <%=key%>
                        </th>
                        <td>
                            <%=value%>
                        </td>
                    </tr>
                    <%end%>
                    <% if current_user.is_owner? %>
                    <tr>
                        <th>
                            Remarks
                        </th>
                        <td>
                            <%=@booking.owner_remarks%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"> Invoice </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                <tbody>
                    <% @booking.cost_data.each do |key, value| %>
                    <tr>
                        <th>
                            <%=key%>
                        </th>
                        <td>
                            <%=value%>
                        </td>
                    </tr>
                    <%end%>
                    <% if @booking.actual_hours.present? and current_user.is_admin_or_owner? %>
                    <tr>
                        <th>
                            Cost calculations
                        </th>
                        <td>
                            <div> A) Amount for 1 Day = <%= @per_day %> </div>
                            <div> B) Amount for Total Hours = <%= @booking.actual_hours %> x <%= @per_hour %> </div>
                            <div> C) Amount for Generator Type = 
                            <% if @booking.is_mobile? %>
                              1500
                            <%else%>
                              0
                            <%end%>
                            <div>D) Management Charges = 10 % (A+B+C) = <%= @management_charges %></div>
                            <div>Total (A+B+C+D) = <%= @booking.cost %> </div>
                        </td>
                    </tr>
                    <% elsif @booking.is_cancelled? and current_user.is_admin_or_owner? %>
                    <tr>
                        <th>
                            Cost Calculations
                        </th>
                        <td>
                             <% if @booking.cost == @per_day %>
                              <div>  A) Amount for 1 Day = <%= @per_day %></div>
                              <%elsif @booking.cost == 0.5 * @per_day %>
                              <div>  A) Amount for 1/2 Day = <%= 0.5 * @per_day %></div>
                            <%end%>
                        </td>
                    </tr>
                        
                    <% end %>
                    <tr>
                        <th> Invoice</th>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateInvoice">
                            Invoice
                        </button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading"> Status Tracking </div>
            <div class="panel-body">
                <table class="table hover booking_update table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Previous Status</th>
                            <th>New Status</th>
                            <th>Changed on</th>
                        </tr>
                    </thead>
                <% @booking_updates.each do |booking_update| %>
                    <tr>
                        <td><%= booking_update.user.name %></td>
                        <td><%= booking_update.from_status %></td>
                        <td><%= booking_update.to_status %></td>
                        <td><%= booking_update.created_at.to_formatted_s(:long) %></td>
                    </tr>
                <%end%>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Update Booking  </div>
            <div class="panel-body">
                <%= f.label :status %>

                <% if current_user.is_owner? %>
                    <% if @booking.is_completed_or_paid? %>
                        <%= f.select(:status, ['completed', 'paid']) %>
                    <%else%>
                        <%= f.select(:status, ['cancelled', 'client_approved', 'accepted', 'rejected', 'completed', 'paid']) %>
                    <%end%>
                <% else %>
                  <%= @booking.status %>
                <%end%>

                <br>

                <div class="on_completed_details">
                    <%= f.label :invoice %>
                    <%= f.file_field(:invoice, accept: 'image/png,image/gif,image/jpeg') %>
                    <br>
                    <%= f.label :actual_hours %>
                    <%= f.hidden_field :actual_hours, {:required => true} %>
                </div>

                <div class="on_accepted_details">
                    <br>
                    <%= f.label :vendor %>
                    <% if current_user.is_owner? %>
                        <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
                        <br>
                        <%= f.label :choose_operator %>
                        <select name="booking[operator_id]" id="operators"></select>
                    <%end%>
                    <br>
                    <%= f.label :remarks %>
                    <%= f.text_field :owner_remarks %>
                </div>
            </div>
        </div>
            <div class="actions">
                <br>
              <%= f.submit 'Save', :class => "save btn btn-primary" %>
            </div>
      </div>

<% end %>

<script type="text/javascript">
    $("form").on('submit', function(event){
        if(!confirm("Are you sure you want to update booking ?")) {
            event.preventDefault();
        }
    })

    var input_vendor = $('#operators');
    if ($('#booking_vendor_id').val() != "") {
        $.getJSON('/operators/' + $('#booking_vendor_id').val(), function (data) {
            input_vendor.empty();
            $.each(data, function (i) {
              var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
              input_vendor.append(opt);
            });
            <% if @booking.operator.present? %>
                $("#operators option[value=" + <%= @booking.operator.id %> + "]").prop("selected", true)
            <%end%>
        });
    }

    $('#booking_vendor_id').change(function () {
      var input_vendor = $('#operators');
      $.getJSON('/operators/' + $(this).val(), function (data) {
        input_vendor.empty();
        $.each(data, function (i) {
          var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
          input_vendor.append(opt);
        });
      });
    });

    $("#booking_status").change(function(){
        var selected = $(this).val()
        if (selected == "completed"){
            $(".on_completed_details").show();
            $(".on_accepted_details").hide();
            $("#booking_actual_hours").attr('type', 'number')
            $("#booking_actual_hours").attr('required', true)
        } else {
            if (selected == "accepted") {
                $(".on_accepted_details").show();
            }
            $(".on_completed_details").hide();
            $("#booking_actual_hours").attr('required', false)
        }
    });

    if($("#booking_status").val() == "accepted") {
        $(".on_accepted_details").show()
        $("#booking_actual_hours").attr('required', false)
    } else if ($("#booking_status").val() == "completed") {
        $(".on_completed_details").show();
        $("#booking_actual_hours").attr('type', 'number')
        $("#booking_actual_hours").attr('required', true)
    } else {
        $("#booking_actual_hours").attr('required', false)
    }

</script>
