<%= form_for @booking do |f| %>
  <div class="booking-edit">
    <div class="info">
      <div class="personal-info">

        <h3> Booking Data </h3>
        <%= f.label :first_name %>
        <%= f.text_field :name, :readonly=>true %>
        <br>

        <%= f.label :location %>
        <%= @booking.location %>
        <br>
        <%= f.label :from_date %>
        <%= f.date_field :start_date,:readonly=>true %>
        <br>
        <%= f.label :till_date %>
        <%= f.date_field :end_date,:readonly=>true %>
        <br>
        <%= f.label :time_in %>
        <%= @booking.time_in %>
        <br>
        <%= f.label :time_out %>
        <%= @booking.time_out %>

        <br>
        <%= f.label :kva %>
        <%= @booking.kva %>

        <br>
        <%= f.label :lisp %>
        <%= @booking.lisp %>

        <br>
        <span> Spoc ID </span>
        <%= @booking.user_id %>

        <br>
        <%= f.label :spoc_name %>
        <%= @booking.user.name %>
        <br>

        <span> Rep ID </span>
        <%= @booking.rep_id %>

        <br>
        <%= f.label :rep_name %>
        <% if @booking.rep.present? %>
        <%= @booking.rep.name %>
        <%end%>
        <br>

        <br>
        <%= f.label :cost %>
        <div class="balance"><%= @booking.cost %></div>
        <br>

        <h3> Status Tracking </h3>
        <table class="table hover booking_update table-bordered hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Previous Status</th>
                    <th>New Status</th>
                    <th>Changed on</th>
                </tr>
            </thead>
        <% @booking_updates.each do |booking_update| %>
            <tr>
                <td><%= booking_update.user.name %></td>
                <td><%= booking_update.from_status %></td>
                <td><%= booking_update.to_status %></td>
                <td><%= booking_update.created_at %></td>
            </tr>
        <%end%>
        </table>


        <h3> Update Booking </h3>

        <%= f.label :status %>

        <% if current_user.is_owner? %>
        <%= f.select(:status, ['client_approved', 'accepted', 'rejected', 'completed', 'paid']) %>
        <% else %>
          <%= @booking.status %>
        <%end%>

        <br>
        <% if @booking.slip.present? %>
          <div><%= link_to "Download Duty Slip", @booking.slip_url %></div>
            <br>
            <%= f.label :actual_days %>
            <%= @booking.actual_days %>
            <br>
            <%= f.label :actual_hours %>
            <%= @booking.actual_hours %>

            <br>
            <%= f.label :total_cost %>
            <%= @booking.cost %>
            <br>

            <% if @booking.actual_days.present? %>
                <div>Details</div>
                <div> A) Amount for Total Days = <%= @booking.actual_days %> x  <%= @per_day %> </div>
                <div> B) Amount for Total Hours = <%= @booking.actual_hours %> x <%= @per_hour %> </div>
                <div> C) Amount for Generator Type = 
                <% if @booking.is_mobile? %>
                  1500
                <%else%>
                  0
                <%end%>
                <div>D) Management Charges = 10 % (A+B+C) = <%= @management_charges %></div>
                <div>Total (A+B+C+D) = <%= @booking.cost %> </div>
            <% end %>

        <% else %>
            <%= f.label :duty_slip %>
            <%= f.file_field(:slip, accept: 'image/png,image/gif,image/jpeg') %>
            <br>
            <%= f.label :actual_days %>
            <%= f.text_field :actual_days %>
            <br>
            <%= f.label :actual_hours %>
            <%= f.text_field :actual_hours %>
        <% end %>

        <br>

        <%= f.label :vendor %>
        <% if current_user.is_owner? %>
            <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
        <% else %>
            <% if @booking.vendor.present? %>
                <%= @booking.vendor.name %>
            <% end %>

        <%end%>

        <br>

      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

  </div>
<% end %>
