<%= form_for @booking do |f| %>
  <div class="booking-edit">
    <div class="info">
      <div class="personal-info">

        <h3> Booking Data </h3>
        <%= f.label :first_name %>
        <%= f.text_field :name, :readonly=>true %>
        <br>

        <%= f.label :location %>
        <%= @booking.location %>
        <br>
        <%= f.label :from_date %>
        <%= f.date_field :start_date,:readonly=>true %>
        <br>
        <%= f.label :till_date %>
        <%= f.date_field :end_date,:readonly=>true %>
        <br>
        <%= f.label :time_in %>
        <%= @booking.time_in %>
        <br>
        <%= f.label :time_out %>
        <%= @booking.time_out %>

        <br>
        <span> Spoc ID </span>
        <%= @booking.user_id %>

        <br>
        <%= f.label :spoc_name %>
        <%= @booking.user.name %>
        <br>

        <%= f.label :total_cost %>
        <%= @booking.cost %>
        <br>

        <h3> Update Booking </h3>

        <%= f.label :status %>

        <% if current_user.is_owner? %>
        <%= f.select(:status, ['approver_approved', 'approved', 'rejected', 'completed', 'paid']) %>
        <% else %>
          <%= @booking.status %>
        <%end%>

        <br>
        <% if @booking.slip.present? %>
          <div><%= link_to "Download Duty Slip", @booking.slip_url %></div>
        <% else %>
        <%= f.label :duty_slip %>
        <%= f.file_field(:slip, accept: 'image/png,image/gif,image/jpeg') %>
        <% end %>

        <br>

        <%= f.label :vendor %>
        <% if current_user.is_owner? %>
            <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
        <% else %>
            <% if @booking.vendor.present? %>
                <%= @booking.vendor.name %>
            <% end %>

        <%end%>

        <br>

      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

  </div>
<% end %>
