<%= form_for @booking do |f| %>
  <div class="booking-edit">
    <div class="info">
      <div class="personal-info">
        <%= f.label :first_name %>
        <%= f.text_field :name %>
        <br>

        <%= f.label :location %>
        <%= f.text_field :location %>
        <br>
        <%= f.label :start_date %>
        <%= f.text_field :start_date %>
        <br>
        <%= f.label :end_date %>
        <%= f.text_field :end_date %>
        <br>

        <%= f.label :status %>
        <%= f.select(:status, ['approver_approved', 'approved', 'rejected']) %>
        <br>
        <%= f.label :vendor %>
        <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
        <br>

      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

  </div>
<% end %>
