<%= form_for @booking do |f| %>
  <div class="booking-edit">
    <div class="info">
      <div class="personal-info">

        <h3> Booking Data </h3>
        <table  class="table hover table-bordered hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> Name </th>
                <th> Location </th>
                <th> Date </th>
                <th> Time In </th>
                <th> Time Out </th>
                <th> Kva </th>
                <th> LISP </th>
                <th> Spoc ID </th>
                <th> Spoc Name </th>
                <th> Rep ID </th>
                <th> Rep Name </th>
                <th> Cost </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= @booking.name %> </td>
                <td> <%= @booking.location %> </td>
                <td> <%= @booking.start_date %> </td>
                <td> <%= @booking.time_in %> </td>
                <td> <%= @booking.time_out %> </td>
                <td> <%= @booking.kva %> </td>
                <td> <%= @booking.lisp %> </td>
                <td> <%= @booking.user.id %> </td>
                <td> <%= @booking.user.name %> </td>
                <td> <%= @booking.rep_id %> </td>
                <td> 
                    <% if @booking.rep.present? %>
                        <%= @booking.rep.name %> 
                    <%end%>
                </td>
                <td class="balance"> <%= @booking.cost %> </td>
            </tr>
        </tbody>
        </table>

        <h3> Status Tracking </h3>
        <table class="table hover booking_update table-bordered hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Previous Status</th>
                    <th>New Status</th>
                    <th>Changed on</th>
                </tr>
            </thead>
        <% @booking_updates.each do |booking_update| %>
            <tr>
                <td><%= booking_update.user.name %></td>
                <td><%= booking_update.from_status %></td>
                <td><%= booking_update.to_status %></td>
                <td><%= booking_update.created_at %></td>
            </tr>
        <%end%>
        </table>


        <h3> Update Booking </h3>

        <%= f.label :status %>

        <% if current_user.is_owner? %>
        <%= f.select(:status, ['cancelled', 'client_approved', 'accepted', 'rejected', 'completed', 'paid']) %>
        <% else %>
          <%= @booking.status %>
        <%end%>

        <br>
        <% if @booking.slip.present? %>
          <div><%= link_to "Download Duty Slip", @booking.slip_url %></div>
            <br>
            <%= f.label :actual_hours %>
            <%= @booking.actual_hours %>

            <br>
            <%= f.label :total_cost %>
            <%= @booking.cost %>
            <br>

            <% if @booking.actual_hours.present? %>
                <label>Cost Calculation Details</label>
                <div> A) Amount for 1 Day = <%= @per_day %> </div>
                <div> B) Amount for Total Hours = <%= @booking.actual_hours %> x <%= @per_hour %> </div>
                <div> C) Amount for Generator Type = 
                <% if @booking.is_mobile? %>
                  1500
                <%else%>
                  0
                <%end%>
                <div>D) Management Charges = 10 % (A+B+C) = <%= @management_charges %></div>
                <div>Total (A+B+C+D) = <%= @booking.cost %> </div>
            <% end %>

        <% else %>
            <%= f.label :duty_slip %>
            <%= f.file_field(:slip, accept: 'image/png,image/gif,image/jpeg') %>
            <br>
            <%= f.label :actual_hours %>
            <%= f.text_field :actual_hours %>
        <% end %>

        <br>

        <h3> Vendor Details </h3>

        <%= f.label :vendor %>
        <% if current_user.is_owner? %>
            <%= select("booking", "vendor_id", User.where(:role_type => "vendor").collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
            <br>
            <%= f.label :choose_operator %>
            <select name="booking[operator_id]" id="operators"></select>
        <% else %>
            <% if @booking.vendor.present? %>
                <%= @booking.vendor.name %>
            <% end %>
        <%end%>
        <br>
        <% if @booking.operator.present? %>
            <%= f.label :current_operator_details %>
            <br>
            <%= f.label :name %>
            <span> <%= @booking.operator.name %></span>
            <br>
            <%= f.label :phone_number %>
            <span> <%= @booking.operator.phone_number %></span>
        <%end%>

      </div>
    </div>

    <div class="actions">
        <br>
      <%= f.submit 'Save', :class => "btn btn-primary" %>
    </div>

    <br><br><br><br>

  </div>
<% end %>

<script type="text/javascript">
    var input_vendor = $('#operators');
    if ($('#booking_vendor_id').val() != "") {
        $.getJSON('/operators/' + $('#booking_vendor_id').val(), function (data) {
            input_vendor.empty();
            $.each(data, function (i) {
              var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
              input_vendor.append(opt);
            });
            $("#operators option[value=" + <%= @booking.operator.id %> + "]").prop("selected", true)
        });
    }

    $('#booking_vendor_id').change(function () {
      var input_vendor = $('#operators');
      $.getJSON('/operators/' + $(this).val(), function (data) {
        input_vendor.empty();
        $.each(data, function (i) {
          var opt = '<option value='+ data[i].id +'>' + data[i].name + '</option>';
          input_vendor.append(opt);
        });
      });
    });


</script>
