<div class="modal fade" id="createGroup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Name</label>
            <br>
            <input type="text" class="form-control" id="group_name"></input>
         </div>

          <div class="form-group">
            <label for="sel1">Auth Employee</label>
            <select  class="selectdd" id="group_employee_id">
            <option selected disabled>Select Auth Employee</option>
            <% @employees.each do |user| %>
              <option value=<%=user.employee_id%> data-phone=<%=user.phone_number%> > <%=user.employee_id%>, <%=user.name%> </option>
            <% end %>
            </select>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_group">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="groups" id="groups_content">

    <div class="row">
    <% if current_user.is_admin_or_owner? %>
        <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createGroup">
            Create New Group
        </button>
    <%end%>

    <div class="row">
      <table class="table hover table-bordered" cellspacing="0" width="100%">                         
        <thead>
            <tr>
              <th>Name</th>
              <th>Auth Employee Name</th>
              <th>Auth Employee Id</th>
            </tr>
        </thead>
        <% @groups.each do |group| %>
          <tr data-id=<%=group.id%> >
            <td><%= group.name %></td>
            <td><%= group.user.name %></td>
            <td><%= group.user.employee_id %></td>
          </tr>
        <% end %>
      </table> 
    </div>
  </div>
</div>

<script>

  $('#save_group').click(function(){
    formData = {
      group: {
        user_id: $("#group_employee_id").val(),
        name: $("#group_name").val(),
        client_id: <%=@current_client.id%>
      }
    }

    $.post({
      url: "/groups",
      data: formData
    }).done(function(data){
      window.location.reload()
    }).fail(function(data){
      console.log('error');
    });
  });

  // $('table').on('click','tr', function(event) {
  //       id = $(this).data('id')
  //       if(id){
  //         location = '/groups/' + id;
  //       }
  //   });

    $('table').DataTable();
    $('.selectdd').select2();

</script>