  <%= form_for @user do |f| %>
    <div class="booking-edit">

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
      <br>

      <%= f.label :password %>
      <%= f.text_field :encrypted_password %>
      <br>

      <% if @user.client.present? %>
        <label>Client Name</label>
        <%= @user.client.name %>
      <%end%>

      <br>

      <label>Role</label>
      <% if current_user.is_owner? %>
      <%= f.select(:role_type, ['owner', 'vendor', 'admin', 'approver', 'spoc']) %>
      <%else%>
      <%= f.select(:role_type, ['admin', 'approver', 'spoc']) %>
      <%end%>

      <br>
      <%= f.label :employee_id %>
      <%= f.text_field :employee_id %>

      <br>
      <%= f.submit 'Update' %>
    </div>
  <% end %>