
<%= form_for @user do |f| %>
    <div class="booking-edit panel panel-default">
        <div class="panel-heading"> User Details </div>
        <div class="panel-body">

        <table class="table table-horizontal table-bordered table-striped">
            <tbody>
            <tr>
                <th>
                    <%= f.label :name %>
                </th>
                <td>
                    <%= f.text_field(:name, :class => "form-control") %>
                </td>
            </tr>

            <tr>
                <th><%= f.label :email %></th>
                <td><%= f.text_field(:email, :class => "form-control") %></td>
            </tr>
            <tr>
                <th><%= f.label :phone_number %></th>
                <td><%= f.text_field(:phone_number, :class => "form-control") %></td>
            </tr>
            <tr id="role_row">
              <th><%= f.label :Role %></th>
              <td>
                <% if current_user.is_owner? %>
                <%= f.select(:role_type, ['owner', 'vendor', 'admin', 'approver', 'spoc', 'employee']) %>
                <%else%>
                <%= f.select(:role_type, ['admin', 'approver', 'spoc', 'employee']) %>
                <%end%>
              </td>
            </tr>
            <tr id="approver_row">
              <th><%= f.label :approver_type %></th>
              <td>
                <% if current_user.is_admin_or_owner? %>
                <%= f.select(:approver_type, ['NOM', 'ZOM']) %>
                <%end%>
              </td>
            </tr>
            <tr>
                <th><%= f.label :password %></th>
                <td>
                  <%= f.text_field(:encrypted_password, :class => "form-control") %>
                </td>
            </tr>

            <% if @user.client.present? %>
              <tr>
                <th><%= f.label :client %></th>
                <td>
                  <%= @user.client.name %>
                </td>
              </tr>
            <%end%>

            <% if @user.subgroup.present? %>
                <tr>
                    <th>
                        Subgroup
                    </th>
                    <td>
                        <%= @user.subgroup.name %>
                    </td>
                </tr>
            <%end%>
            <% if @subgroups.present? %>
            <tr>
                <th>
                    Change Subgroup
                </th>
                <td>
                    <select name="user[subgroup_id]"  class="selectdd" id="subgroup_group_id">
                        <option selected disabled>Change Subgroup</option>
                        <% @subgroups.each do |subgroup| %>
                            <option value=<%=subgroup.id%> > <%=subgroup.name%> </option>
                        <% end %>
                    </select>
                </td>
            </tr>
            <%end%>
            <tr>
                <th><label>Employee Id</label></th>
                <td><%= f.text_field(:employee_id, :class => "form-control") %></td>
            </tr>

            </tbody>
        </table>
        <% if current_user.is_admin_or_owner? %>
            <%= f.submit 'Update' %>
        <%end%>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(".selectdd").select2()

    $("#role_row").on('change', 'select', function(){
        if ($(this).val() == "approver") {
            $("#approver_row").show()
        } else {
            $("#approver_row").hide()
        }
    })

    <% if !@user.is_approver? %>
        $("#approver_row").hide()
    <%end%>
</script>
