
<%= form_for @user do |f| %>
    <div class="booking-edit panel panel-default">
        <div class="panel-heading"> User Details </div>
        <div class="panel-body">

        <table class="table table-horizontal table-bordered table-striped">
            <tbody>
            <tr>
                <th>
                    <%= f.label :name %>
                </th>
                <td>
                    <%= @user.name %>
                </td>
            </tr>

            <tr>
                <th><%= f.label :email %></th>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <th><%= f.label :phone_number %></th>
                <td><%= @user.phone_number %></td>
            </tr>
            <% if current_user.id == @user.id %>
            <tr>

                <th><%= f.label :password %></th>
                <td>
                  <%= @user.encrypted_password %>
                </td>
            </tr>
            <%end%>

            <% if current_user.client.present? %>
              <tr>
                <th><%= f.label :client %></th>
                <td>
                  <%= @user.client.name %>
                </td>
              </tr>
            <%end%>

            <tr>
                <th><label>Role</label></th>
                <td><%= @user.role_type %></td>
            </tr>

            <tr>
                <th><label>Approver Type</label></th>
                <td><%= @user.approver_type %></td>
            </tr>

            <tr>
                <th><label>Employee ID</label></th>
                <td><%= @user.employee_id %></td>
            </tr>

            </tbody>
        </table>
        </div>
    </div>
<% end %>


