<table id="users" class="table hover table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Role Type</th>
            <th>Employee Id</th>
            <th>Subgroup</th>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |user| %>
          <tr onclick="window.location='/users/' + <%=user.id%>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td>
                <% if user.role_type == "approver" %>
                    <%= user.role_type %> , <%= user.approver_type %>
                <%else %>
                    <%= user.role_type %>
                <%end%>
            </td>
            <td><%= user.employee_id %></td>
            <td>
                <%if user.subgroup.present?%>
                    <%= user.subgroup.name %>
                <%end%>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>