<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div>
      	<label>Name</label>
        <%= @user.name %>

        <br>

        <label>Email</label>
        <%= @user.email %>

        <br>
        <label>Phone number</label>
        <%= @user.phone_number %>
        
        <% if current_user.is_admin_or_owner? %>
        <br>
        <label>Password</label>
        <%= @user.encrypted_password %>
        <% end %>

		    <br>
        <label>Client Name</label>
        <%= @user.client.name %>

        <br>

        <label>Role</label>
        <%= @user.role_type %>

      </div>
    </section>
  </aside>
</div>