<% if !current_user.is_owner? and current_user.client_id != @current_client.id %>

    You dont have permissions to view this client's details

<% else %>

<%= render "modal.html.erb" %>

<div class="container main-content">

	<ul class="nav nav-tabs" id="navTabs">
	  <li role="presentation" class="active"><a href="#">Bookings</a></li>
	  <li role="presentation"><a href="#">Details</a></li>
	  <% if current_user.is_admin_or_owner? %>
	  <li role="presentation"><a href="#">Users</a></li>
	  <li role="presentation"><a onclick="window.location = '/mappings' ">Manage</a></li>
	  <% end %>
	</ul>

    <div class="row">
    	<%= render "details" %>
    	<%= render "dashboard/content" %>
    	<%= render "users/content" %>
    </div>

</div>

<script type="text/javascript">
	window.clientId = <%= @current_client.id %>
</script>

<% end %>