<% if !current_user.is_owner? and current_user.client_id != @current_client.id %>

    You dont have permissions to view this client's details

<% else %>

<%= render "modal.html.erb" %>

<div class="container main-content">

	<ul class="nav nav-tabs" id="navTabs">
	  <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bookings<b class="caret"></b></a>
	    <ul class="dropdown-menu">
            <li> <a id="accepted">Active Bookings</a> </li>
            <li> <a id="completed">Completed Bookings</a> </li>
            <li> <a id="cancelled">Cancelled Bookings</a> </li>
            <li> <a id="pending">Pending Approval</a> </li>
            <li> <a id="client_approved">Pending Acceptance</a> </li>
	    </ul>
	  </li>
	  <li><a  href="#">LISP</a></li>
	  <li><a href="#">Users</a></li>
	</ul>

    <div class="row">
    	<%= render "dashboard/content" %>
    	<%= render "users/content" %>
    	<%= render "lisps/content" %>
    </div>

</div>

<script type="text/javascript">
	window.clientId = <%= @current_client.id %>
    
</script>

<% end %>