<div class="modal fade" id="createSubgroup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Subgroup</h4>
      </div>
      <div class="modal-body">
        <form id="subgroupForm">
        <div class="form-group">
            <label>Name <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="subgroup_name"></input>
         </div>

          <div class="form-group">
            <label for="sel1">Auth Employee <span class="red">*</span></label>
            <select  class="selectdd" id="subgroup_employee_id">
            <% @zom_approvers.each do |user| %>
              <option value=<%=user.employee_id%> data-phone=<%=user.phone_number%> > <%=user.employee_id%>, <%=user.name%> </option>
            <% end %>
            </select>
          </div>

          <div class="form-group">
            <label for="sel1">Group <span class="red">*</span></label>
            <select  class="selectdd" id="subgroup_group_id">
            <% @groups.each do |group| %>
              <option value=<%=group.id%> > <%=group.name%> </option>
            <% end %>
            </select>
          </div>
          <input class="formSubmit" type="submit"></input>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_subgroup">Submit</button>
        <span class="glyphicon glyphicon-refresh spinning loading" id="save_subgroup_loading"></span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="subgroups" id="subgroups_content">

    <div class="row">
    <% if current_user.is_admin_or_owner? %>
        <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createSubgroup">
            Create New Subgroup
        </button>
    <%end%>

    <div class="row">
      <table class="table table-striped hover table-bordered" cellspacing="0" width="100%">                         
        <thead>
            <tr>
              <th>Name</th>
              <th>Group</th>
              <th>Auth Employee Name</th>
              <th>Auth Employee Id</th>
            </tr>
        </thead>
        <% @subgroups.each do |subgroup| %>
          <tr data-id=<%=subgroup.id%> onclick="window.location='/subgroups/' + <%=subgroup.id%>" >
            <td><%= subgroup.name %></td>            
            <td><%= subgroup.group.name %></td>
            <td><%= subgroup.user.name %></td>
            <td><%= subgroup.user.employee_id %></td>
          </tr>
        <% end %>
      </table> 
    </div>
  </div>
</div>

<script>

  $('#save_subgroup').click(function(){
    $("#subgroupForm").find('input[type=submit]').click();
  })

  $('#subgroupForm').on('submit', function(event){
    event.preventDefault();
    formData = {
      subgroup: {
        user_id: $("#subgroup_employee_id").val(),
        name: $("#subgroup_name").val(),
        group_id: $("#subgroup_group_id").val(),
        client_id: <%=@current_client.id%>
      }
    }
    $("#save_subgroup").hide()
    $("#save_subgroup_loading").show()

    $.post({
      url: "/subgroups",
      data: formData
    }).done(function(data){
      window.location.reload()
    }).fail(function(data){
      alert(data.error().responseText)
    });
  });

  // $('table').on('click','tr', function(event) {
  //       id = $(this).data('id')
  //       if(id){
  //         location = '/subgroups/' + id;
  //       }
  //   });

    $('table').DataTable();
    $('.selectdd').select2();

</script>