
<%= form_for @subgroup do |f| %>
    <div class="booking-edit panel panel-default">
        <div class="panel-heading"> Subgroup Details </div>
        <div class="panel-body">

        <table class="table table-horizontal table-bordered table-striped">
            <tbody>
            <tr>
                <th>
                    <%= f.label :name %>
                </th>
                <td>
                    <%= f.text_field :name %>
                </td>
            </tr>

            <tr>
                <th><%= f.label :auth_name %></th>
                <td><%= @subgroup.user.name %></td>
            </tr>
            <tr>
                <th><%= f.label :change_auth %></th>
                <td>
                    <select name="subgroup[user_id]"  class="selectdd" id="subgroup_user_id">
                        <option selected disabled>Change Auth</option>
                        <% @approvers.each do |x| %>
                            <option value=<%=x.id%> > <%=x.name%> </option>
                        <% end %>
                    </select>
                </td>
            </tr>

            <tr>
                <th><%= f.label :group_name %></th>
                <td><%= @subgroup.group.name %></td>
            </tr>
            <tr>
                <th><%= f.label :change_group %></th>
                <td>
                    <select name="subgroup[group_id]"  class="selectdd" id="subgroup_group_id">
                        <option selected disabled>Change Group</option>
                        <% @groups.each do |x| %>
                            <option value=<%=x.id%> > <%=x.name%> </option>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
        <% if current_user.is_admin_or_owner? %>
            <%= f.submit 'Save' %>
        <%end%>
        </div>
    </div>
<% end %>
