<div class="modal fade" id="createLisp" tabindex="-1" role="dialog">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new LISP</h4>
      </div>
      <div class="modal-body">
        <form id="lispForm">
        <div class="form-group">
            <label>Name <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="lisp_name"></input>
         </div>


        <div class="form-group">
          <label for="name">State <span class="red">*</span></label>
          <select class="form-control" name="state">
			<% @states.each do |key, value| %>
				<option value="<%= key %>"><%= value%></option>
			<% end %>
		  </select>
        </div>

		<div class="form-group">
    		<label>City <span class="red">*</span></label>
    		<br>
    		<input required type="text" class="form-control" id="lisp_city"></input>
    	</div>

         <div class="form-group">
            <label>Zone <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="lisp_zone"></input>
        </div>

           <div class="form-group">
            <label>Address <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="lisp_address"></input>
            </div>

           <div class="form-group">
            <label>Code <span class="red">*</span></label>
            <br>
            <input required type="number" class="form-control" id="lisp_code"></input>
            </div>
            <input class="formSubmit" type="submit"></input>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_lisp">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="lisps" id="lisps_content">

    <div class="row">
    <% if current_user.is_admin_or_owner? %>
        <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createLisp">
            Create New Lisp
        </button>
    <%end%>

    <div class="row">
			<table class="table hover table-striped table-bordered" cellspacing="0" width="100%">                         
			  <thead>
		        <tr>
		        	<th>Name</th>
		            <th>State</th>
		            <th>City</th>
		            <th>Address</th>
		            <th>Zone</th>		           		            		           		      
		            <th>Code</th>		           		            		           		      
		        </tr>
			  </thead>
				<% @lisps.each do |lisp| %>
				  <tr data-id=<%=lisp.id%> >
				    <td><%= lisp.name %></td>
				    <td><%= lisp.state %></td>
				    <td><%= lisp.city %></td>
				    <td><%= lisp.address %></td>
				    <td><%= lisp.zone %></td>
				    <td><%= lisp.code %></td>
				  </tr>
				<% end %>
			</table> 
    </div>
  </div>
</div>

<script>

	$('#save_lisp').click(function(){
    $("#lispForm").find('input[type=submit]').click()
  });

  $("#lispForm").on('submit', function(event){
    event.preventDefault()
	  formData = {
	  	lisp: {
		    state: $("select[name='state']").find("option:selected").text(),
		    city: $('#lisp_city').val(),
		    zone: $("#lisp_zone").val(),
		    address: $("#lisp_address").val(),
		    name: $("#lisp_name").val(),
		    code: $("#lisp_code").val()
		}
	  }

	  $.post({
  		url: "/lisps",
    	data: formData
	  }).done(function(data){
	    window.location.reload()
	  }).fail(function(data){
	    alert(data.error().responseText)
	  });
	});

	$('table').on('click','tr', function(event) {
        id = $(this).data('id')
        if(id){
        	location = '/lisps/' + id;
        }
    });

    $('table').DataTable();

</script>