<div class="modal fade" id="createLisp" tabindex="-1" role="dialog">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new LISP</h4>
      </div>
      <div class="modal-body">
        <form id="lispForm">
        <div class="form-group">
            <label>Name <span class="red">*</span></label>
            <br>
            <input required type="text" required class="form-control" id="lisp_name" oninvalid="setCustomValidity('Special Characters are allowed in Name')" oninput="try{setCustomValidity('')}catch(e){}"></input>
         </div>


        <div class="form-group">
          <label for="name">State <span class="red">*</span></label>
          <select class="form-control" name="state">
			<% @rates_states.each do |key, value| %>
				<option value="<%= key %>"><%= value%></option>
			<% end %>
		  </select>
        </div>

		<div class="form-group">
    		<label>City <span class="red">*</span></label>
    		<br>
    		<input required type="text" class="form-control" id="lisp_city" pattern="[a-zA-Z0-9 ]+" 
            oninvalid="setCustomValidity('No Special Characters are allowed in City')" oninput="try{setCustomValidity('')}catch(e){}"></input>
    	</div>

         <div class="form-group">
            <label>Zone <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="lisp_zone" pattern="[a-zA-Z0-9 ]+" 
            oninvalid="setCustomValidity('No Special Characters are allowed in Zone')" oninput="try{setCustomValidity('')}catch(e){}"></input>
        </div>

           <div class="form-group">
            <label>Address <span class="red">*</span></label>
            <br>
            <input required type="text" class="form-control" id="lisp_address" pattern="[a-zA-Z0-9-/ ]+" 
            oninvalid="setCus tomValidity('Special characters other than \- and \/ are not allowed in Address')" oninput="try{setCustomValidity('')}catch(e){}"></input>
            </div>

           <div class="form-group">
            <label>Code <span class="red">*</span></label>
            <br>
            <input required type="number" class="form-control" id="lisp_code" oninput="checkIflispExists();"></input>
            </div>
            <input class="formSubmit" type="submit"></input>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_lisp">Submit</button>
        <span class="glyphicon glyphicon-refresh spinning loading" id="save_lisp_loading"></span>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="lisps" id="lisps_content">

    <div class="row">
    <% if current_user.is_admin_or_owner? %>
        <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createLisp">
            Create New Lisp
        </button>
    <%end%>

    <div class="row">
			<table class="table hover table-striped table-bordered" cellspacing="0" width="100%">                         
			  <thead>
		        <tr>
		        	<th>Name</th>
                <th>Code</th>                                                     
                <th>Zone</th>                                                     
		            <th>State</th>
		            <th>City</th>
		            <th>Address</th>
		        </tr>
			  </thead>
				<% @lisps.each do |lisp| %>
				  <tr onclick="window.location='/lisps/' + '<%=lisp.id%>' " >
				    <td><%= lisp.name %></td>
            <td><%= lisp.code %></td>
            <td><%= lisp.zone %></td>
				    <td><%= lisp.state %></td>
				    <td><%= lisp.city %></td>
				    <td><%= lisp.address %></td>
				  </tr>
				<% end %>
			</table> 
    </div>
  </div>
</div>

<script>

	$('#save_lisp').click(function(){
    $("#lispForm").find('input[type=submit]').click()
  });

function checkIflispExists()
{
    formData = {
        lisp: {
            code: $("#lisp_code").val()
        }
     };
    $.post({
        url: '/lisps/check_if_lisp_exists',
        data: formData
      }).done(function(data){
          $("#save_lisp").show()
      }).fail(function(data){
        alert("Lisp exists already");
          $("#save_lisp").hide()
      });
}

  $("#lispForm").on('submit', function(event){
    event.preventDefault()
	  formData = {
	  	lisp: {
		    state: $("select[name='state']").find("option:selected").text(),
		    city: $('#lisp_city').val(),
		    zone: $("#lisp_zone").val(),
		    address: $("#lisp_address").val(),
		    name: $("#lisp_name").val(),
		    code: $("#lisp_code").val()
		}
	  }
    $("#save_lisp").hide()
    $("#save_lisp_loading").show()

	  $.post({
  		url: "/lisps",
    	data: formData
	  }).done(function(data){
	    window.location.reload()
	  }).fail(function(data){
	    alert(data.error().responseText)
	  });
	});

    $('table').DataTable();

</script>