
<%= form_for @lisp do |f| %>
    <div class="booking-edit panel panel-default">
        <div class="panel-heading"> LISP Details </div>
        <div class="panel-body">

        <table class="table table-horizontal table-bordered table-striped">
            <tbody>
            <tr>
                <th>
                    <%= f.label :name %>
                </th>
                <td>
                    <%= f.text_field :name %>
                </td>
            </tr>

          	<tr>
                <th><%= f.label :state %></th>
                <td><%= f.text_field :state %></td>
            </tr>
            <tr>
                <th><%= f.label :city %></th>
                <td><%= f.text_field :city %></td>
            </tr>
            <tr>
                <th><%= f.label :address %></th>
                <td><%= f.text_field :address %></td>
            </tr>
            <tr>
                <th><%= f.label :zone %></th>
                <td><%= f.text_field :zone %></td>
            </tr>
            <tr>
                <th><%= f.label :code %></th>
                <td><%= f.text_field :code %></td>
            </tr>

            </tbody>
        </table>
        <% if current_user.is_admin_or_owner? %>
            <%= f.submit 'Save' %>
        <%end%>
        </div>
    </div>
<% end %>
