<div id="create-modal">
    <div class="modal fade" id="createRate" tabindex="-1" role="dialog">
  		<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Add new Rate</h4>
	      </div>
	      <div class="modal-body">
	      	<form>
	        <div class="form-group">
	          <label for="name">State</label>
	          <select class="form-control" name="state">
						<% @states.each do |key, value| %>
							<option value="<%= key %>"><%= value%></option>
						<% end %>
					  </select>
	        </div>

				<div class="form-group">
	        		<label>1-30 KVA Fixed <span class="red">*</span></label>
	        		<input type="number" required class="form-control" id="kva_30_day"></input>
	        		</div>

		           <div class="form-group">
		            <label>1-30 KVA Per Hour <span class="red">*</span></label>
		            <input type="number" required class="form-control" id="kva_30_hour"></input>
		            </div>

		           <div class="form-group">
		            <label>31-70 KVA Fixed <span class="red">*</span></label>
		            <input type="number" required class="form-control" id="kva_70_day"></input>
		            </div>

		           <div class="form-group">
		            <label>31-70 KVA Per Hour <span class="red">*</span></label>
		            <input type="number" required class="form-control" id="kva_70_hour"></input>
		            </div>

		           <div class="form-group">
		            <label>71-130 KVA Fixed <span class="red">*</span></label>
		            <input type="number" required class="form-control" id="kva_130_day"></input>
		            </div>

		           <div class="form-group">
		            <label>71-130 KVA Per Hour <span class="red">*</span></label>
		            <input  type="number" required class="form-control" id="kva_130_hour"></input>
		            </div>

		           <div class="form-group">
		            <label>131-500 KVA Fixed <span class="red">*</span></label>
		            <input type="number" required class="form-control" id="kva_250_day"></input>
		            </div>

		           <div class="form-group">
		            <label>131-500 KVA Per Hour <span class="red">*</span></label>	
		            <input type="number" required class="form-control" id="kva_250_hour"></input>
		            </div>
		            <input class="formSubmit" type="submit"></input>
		            </form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="save_location">Submit</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<div class="container main-content">

    <div class="row">
        <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createRate">
            Create New Rate
        </button>
    </div>

    <div class="row">
			<table class="table hover table-striped table-bordered" cellspacing="0" width="100%">                         
			  <thead>
		        <tr>
		            <th>State</th>
		            <th>1-30 KVA Fixed</th>
		            <th>1-30 KVA Per Hour</th>
		            <th>31-70 KVA Fixed</th>
		            <th>31-70 KVA Per Hour</th>
		            <th>71-130 KVA Fixed</th>
		            <th>71-130 KVA Per Hour</th>
		            <th>131-500 KVA Fixed</th>
		            <th>131-500 KVA Per Hour</th>		           		            		           		      
		        </tr>
			  </thead>
				<% @locations.each do |location| %>
				  <tr onclick="window.location='/locations/' + <%=location.id%>">
				  	<td><%= location.state %></td>
				    <td><%= location.kva_30_day %></td>
				    <td><%= location.kva_30_hour %></td>
				    <td><%= location.kva_70_day %></td>
				    <td><%= location.kva_70_hour %></td>
				    <td><%= location.kva_130_day %></td>
				    <td><%= location.kva_130_hour %></td>
				    <td><%= location.kva_250_day %></td>
				    <td><%= location.kva_250_hour %></td>				    				    				    
				  </tr>
				<% end %>
			</table> 
    </div>

</div>

<script>
function checkIflocationExists()
  {
        formData = {
 
                	    state: $("select[name='state']").find("option:selected").text()
         };
        $.post({
            url: '/locations/check_if_location_exists',
            data: formData
          }).done(function(data){
             window.location = '/locations'
          }).fail(function(data){
          	alert('location exists already');
           	console.log('error');
          });
      }
	$('#save_location').click(function(){

    $('form').find('input[type=submit]').click()
  });

  $('form').on('submit', function(event) {
  	checkIflocationExists();
    event.preventDefault();
	  formData = {
	    state: $("select[name='state']").find("option:selected").text(),
	    fixed: $('#rate').val(),
	    kva_30_day: $("#kva_30_day").val(),
	    kva_30_hour: $("#kva_30_hour").val(),
	    kva_70_day: $("#kva_70_day").val(),
	    kva_70_hour: $("#kva_70_hour").val(),
	    kva_130_day: $("#kva_130_day").val(),
	    kva_130_hour: $("#kva_130_hour").val(),
	    kva_250_day: $("#kva_250_day").val(),
	    kva_250_hour: $("#kva_250_hour").val()
	  }

	  $.post({
  		url: "/locations",
    	data: formData
	  }).done(function(data){
	    window.location = '/locations'
	  }).fail(function(data){
	    console.log('error');
	  });
	});

	$('table').DataTable();

</script>