<div>
<button class="booking-edit back-btn btn btn-primary glyphicon glyphicon-arrow-left"></button>
</div>
<%= form_for @location do |f| %>
  <div class="booking-edit panel panel-default">
    <div class="panel-heading"> Rate Details </div>
    <div class="panel-body">

        <table class="table table-horizontal table-bordered table-striped">
            <tbody>
            <tr>
                <th><%= f.label :state %></th>
                <td><%= @location.state %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_30_day %></th>
                <td><%= f.text_field(:kva_30_day, :class => "form-control", :required =>true) %></td>
            </tr>

             <tr>
                <th><%= f.label :kva_30_hour %></th>
                <td><%= f.text_field(:kva_30_hour, :class => "form-control", :required =>true) %></td>
            </tr>

             <tr>
                <th><%= f.label :kva_70_day %></th>
                <td><%= f.text_field(:kva_70_day, :class => "form-control", :required =>true) %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_70_hour %></th>
                <td><%= f.text_field(:kva_70_hour, :class => "form-control", :required =>true) %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_130_day %></th>
                <td><%= f.text_field(:kva_130_day, :class => "form-control", :required =>true) %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_130_hour %></th>
                <td><%= f.text_field(:kva_130_hour, :class => "form-control", :required =>true) %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_250_day %></th>
                <td><%= f.text_field(:kva_250_day, :class => "form-control", :required =>true) %></td>
            </tr>

            <tr>
                <th><%= f.label :kva_250_hour %></th>
                <td><%= f.text_field(:kva_250_hour, :class => "form-control", :required =>true) %></td>
            </tr>

            </tbody>
        </table>
        <%= f.submit 'Save' %>
         <%= button_to "Delete", @rates, :method => :delete %>

        </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $("form").on('submit', function(event){
        if(!confirm("Are you sure you want to update/delete rate details ?")) {
            event.preventDefault();
        }
    })
</script>

