<!DOCTYPE html>
<html>
<head>
  <title>Findgen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FindGen</a>
        </div>
        <ul class="nav navbar-nav mynav">
        <li>
          <a onclick="location.href = '/'">Bookings</a>
        </li>
        <li>
        <a onclick="location.href = '/clients' ">Clients</a>
        </li>
        <li>
        <a onclick="location.href = '/owners' ">Owners</a>
        </li>

          <% if current_user.present? %>
            <li class="user"><a href="#">
                <%= current_user.name %>
            </a></li> 
          <% end %>
        </ul>
      </div>
    </nav>
<%= yield %>

</body>
</html>
